/* generic styles */
* {
  font-family: sans-serif;
  }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  }

a {color:#fff; text-decoration: none; outline:none;}
a:visited {color:#fff; text-decoration: none;}
a:focus {outline:none;}
a:hover, a:active {text-decoration: underline; outline:none;}

.container {
  width: 300px;
  background: #999;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  }

/*navigation */
nav.main {
  padding-top: 15px;
  height: 26px;
  overflow: hidden;
  }
  nav.main ul {
    margin: 0;
    padding: 0;
    text-align: center;
    }
    nav.main ul li {
      display: inline;
      }
      nav.main ul li a {
        position: relative;
        top: 3px;
        color: #fff;
        text-decoration: none;
        background: #333;
        border-radius: 3px 3px 0 0;
        padding: 10px 20px;
        box-shadow: 0 1px 10px #000;
        text-shadow: 1px 1px #000;
        }
        nav.main ul li a:hover {
          top: 2px;
          }
        nav.main ul li a.active {
          background: #666;
          top: 1px;
          z-index: 100;
          }
          nav.main ul li a.active:hover {
            top: 0;
            }
nav.secondary {
  padding-top: 5px;
  margin-top: -5px;
  height: 22px;
  overflow: hidden;
  }
  nav.secondary ul {
    text-align: center;
    }
    nav.secondary ul li {
      display: inline;
      }
      nav.secondary ul li a {
        position: relative;
        top: 3px;
        font-size: 75%;
        color: #fff;
        text-decoration: none;
        background: #333;
        border-radius: 3px 3px 0 0;
        padding: 5px 10px;
        box-shadow: 0 1px 10px #000;
        text-shadow: 1px 1px #000;
        }
      nav.secondary ul li a:hover {
        top: 2px;
        }
      nav.secondary ul li a.active {
        background: #666;
        top: 1px;
        z-index: 100;
        }
      nav.secondary ul li a.active:hover {
        top: 0;
        }
  nav.secondary + div {
    display: block;
    }
  nav.secondary div + div {
    display: none;
    }

/* set default tab display states */
.tabs {
  }
  .tabs > div {
    display: none;
    padding: 15px;
    }
    .tabs > div:nth-of-type(1) {
      display: block;
      }

/* legacy styles */
#audio-image-container {
}

#media-tab {
  width: 300px;
  }


#audio-container {
    width: 300px;
    display: none;
}

.audio-link {
    font-size: 10px;
}

.audio-desc {
    padding-left: 65px;
    /*height: 60px;*/
    margin-bottom: 15px;
}

.dp-tab {
    /*font-size: 8px;*/
}

.video-title {
  font-size: 10px;
  }

/* video list */
ol.videos {
  margin-bottom: 1em;
  padding-left : 0em;
  margin-left: 0em;
  }
  ol.videos li {
    clear: left;
    margin: 0 0 10px;
    overflow: hidden;
    cursor: pointer;
    }

/* audio list */
ol.audio {
  padding: 0;
  margin: 0 0 1em;
  }
  ol.audio > li {
    clear: left;
    margin: 0 0 10px;
    overflow: hidden;
    }
    ol.audio > li > a {
      color: #000;
      text-decoration: none;
      }
  ol.audio ul {
    list-style: none;
    }

div.player-container {
    height: 300px;
    width: 300px; 
}

.video-thumbnail {
    width: 55px;
    height: 55px;
    float: left;
    padding-right: 9px;
}

.dp-event {
    font-size: 12px;
    margin-bottom: 12px;
}
.dp-link {
    font-size: 12px;
    margin-bottom: 12px;
}
.dp-similar {
    font-size: 12px;
    /* width: 77px; */
    border: solid 1px #666;
    -webkit-border-radius: 5px;
    height: 25px;
    background-color: #777;
    text-align: center;
    display: inline;
    list-style-type: none;
    padding: 5px;
    line-height: 30px;
    margin-right: 5px;
    box-shadow: 0 1px 3px #000;
    text-shadow: 1px 1px #000;
    }
    .dp-similar a {
        font-size: 9px;
        font-color: white;
        }
.dp-bio {
    font-size: 12px;
}

/* popularity */
.popularity {
  background: #30173a;
  position: relative;
  overflow: hidden;
  text-indent: -10000em;
  width: 70px;
  height: 10px;
  margin: 5px 0;
  display: block;
  }
  .popularity span {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    opacity: 0.7;
    }

/* audio player overrides */
.audiojs {
  }
  .audiojs .scrubber {
    float: right;
    width: 265px;
    cursor: pointer;
    }
  .track-details {
    height: auto;
    width: auto;
    min-height: 12px;
    }

#dp-bio {
  font-size: 12px;
  padding: 7px;
  font-color: white;
  }

.dp-small-logo {
  width: 50px;
  }

.logos-container {
  padding: 7px;
  }
