#audio-image-container {
}

#media-tab {
    width: 300px;
}

#audio-container {
    width: 300px;
    display: none;
}

.audio-link {
    font-size: 10px;
}

.audio-desc {
    padding-left: 65px;
    height: 60px;
}

.dp-tab {
    font-size: 8px;
}

.video-title {
  font-size: 10px;
}
ul.videos li {
    height: 60px;
}
ul.videos
{
  margin-bottom: 1em;
  padding-left : 0em;
  margin-left: 0em;
  list-style: none;
}

div.player-container {
    height: 300px;
    width: 300px; 
}

.video-thumbnail {
    width: 55px;
    height: 55px;
    float: left;
    padding-right: 9px;
}

.dp-event {
    font-size: 10px;
}
.dp-link {
    font-size: 10px;
}
.dp-similar {
    font-size: 10px;
}
.dp-bio {
    font-size: 10px;
}

/* popularity */
.popularity {
  background: #30173a;
  position: relative;
  height: 20px;
  overflow: hidden;
  text-indent: -10000em;
  width: 70px;
  height: 10px;
  margin: 5px;
  }
  .popularity span {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    opacity: 0.7;
    }
